#start-test {
    background-color: #333;
    color: #fff;
    width: 150px;
    border: 1px solid #333;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    font-weight: 500;
    display: block;
}


.range-button {
    color: #fff;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.range-button:hover {
    background-color: #c3c3c3;
    border: 1px solid #c3c3c3;
}

.range-button.selected {
    background-color: #4caf50;
    color: white;
    border-color: #4caf50;
}
