{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/custom-style.css">
    <link rel="stylesheet" href="/static/css/dashboard-style.css">
{% endblock %}

{% block main %}
    {% if session %}
        <div class="container-card">
            <h2 class="transition-up">Bienvenido {{ user_name }}</h2>
            <div class="cards transition-up d-flex flex-wrap flex-md-nowrap justify-content-center">
                <a href="/biotypes" class="m-2 card-efect">
                    Biotipos
                </a>
                <a href="#" class="m-2 card-efect">
                    ...
                </a>
            </div>
        </div>
    {% endif %}
{% endblock%}

{% block js %}
        <script src="/static/js/script.js"></script>
{% endblock %}