{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/custom-style.css">
{% endblock %}

{% block main %}
    {% if session %}
        <div class="container-card">
            <h2 class="transition-up">En construccion...</h2>
            <form id="questionnaire">
                {% for question in questions %}
                    <h3>{{ question.text }}</h3>
                    {% set answers = question.answers %}
                    {% if answers %}
                        {% for answer in answers %}
                            <label>
                                <input type="radio" name="{{ question.question_id }}" value="{{ answer.biotype }}" data-points="{{ answer.points }}">
                                {{ answer.text }}
                            </label><br>
                        {% endfor %}
                    {% else %}
                        <p>No answers available</p>
                    {% endif %}
                {% endfor %}
                <button type="button" onclick="submitAnswers()">Submit</button>
            </form>
        </div>
    {% endif %}
{% endblock%}

{% block js %}
        <script src="/static/js/script.js"></script>
{% endblock %}